<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>geo-intel-app</title>
	<script>
        const start = () => {

            const state = {
                streamRunning: false,
                geolocationEnabled: false,
                cameraEnabled: false
            };
            
            const videoDeviceConstraints = {
                video: {
                    width: {
                        min: 1280,
                        ideal: 1920,
                        max: 2560,
                    },
                    height: {
                        min: 720,
                        ideal: 1080,
                        max: 1440
                    },
                },
                facingMode: 'environment'
            };

            const geolocationOptions = {
                maximumAge: 1800000,
                timeout: 20000,
                enableHighAccuracy: true
            };

            //
            // FUNCTIONS

            const init = () => {
                if ('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices) {
                    state.cameraEnabled = true;
                    document.getElementById("geo-status").style = "color: green";
                }
                if (navigator.geolocation) {
                    state.geolocationEnabled = true;
                    document.getElementById("cam-status").style = "color: green";
                }
            }

            const stopStream = () => {
                const video = document.getElementById("vid");
                video.srcObject.getTracks().forEach(track => track.stop());
                video.srcObject = null;
                state.streamRunning = false;
            }

            const takePhoto = () => {
                const canvas = document.getElementById("vid-canvas");
                const photo = document.getElementById("photo");
                const video = document.getElementById("vid");
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                canvas.getContext('2d').drawImage(video, 0, 0);
                photo.src = canvas.toDataURL('image/webp');
            }

            const startStream = async (videoDeviceConstraints) => {
                const stream = await navigator.mediaDevices.getUserMedia(videoDeviceConstraints);
                const video = document.getElementById("vid");
                video.srcObject = stream;
                state.streamRunning = true;
            };

            const sanitize = (image) => {
                return image.replace("data:image/webp;base64,", "");
            }

            const sendIntel = (position) => {
                sendAjax(
                    sanitize(document.getElementById("photo").src),
                    position.coords.latitude,
                    position.coords.longitude,
                    position.coords.accuracy,
                    document.getElementById("notebox").value
                )
            }

            const handleAjax = () => {
                console.log(this.readyState);
                /* 
                0: request not initialized 
                1: server connection established
                2: request received 
                3: processing request 
                4: request finished and response is ready
                */
                const txStatus = document.getElementById("tx-status");
                switch(this.readyState) {
                    case 1:
                        txStatus.style = "color: gray";
                        break;
                    case 2:
                        txStatus.style = "color: navy";
                        break;
                    case 3:
                        txStatus.style = "color: blue";
                        break;
                    case 4:
                        if (this.status == 200) {
                            txStatus.style = "color: green";
                        } else {
                            txStatus.style = "color: red";
                            alert(this.status);
                        }
                        break;
                    default:
                        txStatus.style = "color: black";
                } 
            }

            const eventLog = (evt) => {
                console.log(evt);
            }

            const sendAjax = (img, lat, lon, accr, nt) => {
                console.log("sent to {{api-url}}");
                var ajax = new XMLHttpRequest();
                // ajax.onreadystatechange = handleAjax;
                ajax.addEventListener("progress", eventLog);
                ajax.addEventListener("load", eventLog);
                ajax.addEventListener("error", eventLog);
                ajax.addEventListener("abort", eventLog);
                ajax.open("POST", "{{api-url}}");
                ajax.setRequestHeader("Content-Type", "application/json");
                ajax.send(JSON.stringify(
                    {
                        image: img,
                        note: nt,
                        location: {
                            latitude: lat,
                            longitude: lon,
                            accuracy: accr
                        }
                    }
                ));
            }

            const locationFailed = (error) => {
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        alert("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        alert("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        alert("The request to get user location timed out.");
                        break;
                    case error.UNKNOWN_ERROR:
                        alert("An unknown error occurred.");
                        break;
                }
            }

            //
            // EVENTS

            init();

            document.getElementById("photo").addEventListener("click", () => {
                if (state.streamRunning) {
                    takePhoto();
                }
            });

            document.getElementById("send").addEventListener("click", () => {
                if (document.getElementById("notebox").value.length == 0) {
                    alert("you didn't specify a note");
                } else {
                    var proceed = true;
                    if (document.getElementById("photo").src == undefined) {
                        proceed = confirm("no photo - continue?");
                    }
                    if (state.geolocationEnabled && proceed) {
                        navigator.geolocation.getCurrentPosition(sendIntel, locationFailed, geolocationOptions);
                    }
                }
            });

            document.getElementById("stop").addEventListener("click", () => {
                if (state.streamRunning) {
                    stopStream();
                }
            });

            document.getElementById("stream").addEventListener("click", () => {
                if (!state.streamRunning) {
                    if (state.cameraEnabled) {
                        startStream(videoDeviceConstraints);
                        const video = document.getElementById("vid");
                        video.play();
                    }
                }
            });

            document.getElementById("geo-high-accuracy").addEventListener("click", () => {       
                geolocationOptions.enableHighAccuracy = (document.getElementById("geo-high-accuracy").checked == true);
            });
        };

        window.addEventListener('DOMContentLoaded', (event) => {
            start();
        });

	</script>
</head>

<style>
	div {
        width: 500px;
        height: 400px;
        border: 2px solid black;
        position: relative;
	}
	video {
        width: 500px;
        height: 400px;
        object-fit: cover;
	}
</style>

<body>
	<center>
    <button id="stream">
        Stream
    </button>
    <button id="stop">
        Stop
    </button>
    <button id="photo">
        Photo
    </button>
    <button id="send">
        Send
    </button>
    <br />
    <label id="geo-status" style="color: red;">[geo]</label>
    <label id="cam-status" style="color: red;">[cam]</label>
    <label id="tx-status" style="color: black;">[tx]</label>
    <br />
    High Accuracy (Geo) <input type="checkbox" id="geo-high-accuracy">
    <br />
    <textarea id="notebox" rows="4" cols="50"></textarea>
    <br />
	<div>
		<video id="vid"></video>
        <canvas id="vid-canvas" class="d-none"></canvas>
	</div>
	<br />
    <img id="photo" />
	</center>
</body>
</html>
